/*404 page css*/


body {

overflow:hidden; 
background:#eee url("../_images/header-base.png") no-repeat scroll center bottom;}

#parallax_wrapper h1 {
    color: #333;
    font-family: "MuseoSans-700",Helvetica,Arial,Verdana,sans-serif;
    font-size: 42px;
    font-weight: normal;
    line-height: 65px;
margin: 0;
}
#parallax_wrapper p {
    color: #333;
    font-family: HelveticaNeue,Arial,Verdana,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin: 0 auto;
    

}

#content{padding-top: 5%;}


.button {
    background: #f0f0f0 none repeat scroll 0 0;
    border: medium none;
     
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #3987cc;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    padding: 13px 30px;
    text-align: center;
    text-shadow: 0 1px white;
    vertical-align: middle;
margin-top:20px;
}



#parallax_wrapper{
height: 700px; left: 50%;  text-align:center;}