/*Login Form CSS*/

.login_box{width:450px; margin:auto;}


 /*Login Panel Style*/
.panel{
     border-radius: 0;  
     background-color: #f9f9f9;
     box-shadow:9px 9px 10px 1px rgba(12, 46, 49, 0.76);}
       
.panel-default > .panel-heading{  
  background: #0090CF;
    border-radius: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding:20px 0;
    border-bottom: 6px solid #0371aa;}
    
.panel-title{font-weight: 600;}

.panel-default{
border:none;}

/*Login Form Style*/
    
.form-control{
border-radius:0px;
height: 45px; 
margin-bottom:25px;}

/*Login Btn Style*/

    
.btn-group-sm > .btn, .btn-md{   
border-radius: 0;
font-size: 13px;
font-weight: 600;
padding: 8px 25px;
text-transform: uppercase;
width: 100%;}

.login_btn{
overflow: hidden;
padding: 0px 15px;}

.help-block {
    bottom: 141px;
    color: #f30;
    display: block;
    font-size: 11px;
    font-weight: 600;
    left: 10pc;
    margin-bottom: 10px;
    margin-top: 5px;
    position: absolute;
    text-transform: uppercase;}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success{ 
background:#0090CF; 
border:3px solid #0090CF;   
transition: all 0.4s ease-in-out 0s;}

.btn-success{ 
background:#0090CF; 
border:3px solid #0090CF;   
transition: all 0.4s ease-in-out 0s;}

.btn-success:hover{ 
background: none; 
border:3px solid #0090CF; 
color:#0085BF;   
transition: all 0.4s ease-in-out 0s;}


.login_logo_grid{
 height: 100px;
    margin: auto auto 22px;
    overflow: hidden;
    padding: 17px 3px 4px 11px;
    width: 48%;}
