/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
font-family:Arial, sans-serif !important;
}

#wrapper {
    width: 100%;
 height: 100%;
}

#page-wrapper {
   /* padding: 0 15px;*/
   
    background-color: #fff;
background-color: #eeeeee;
 height: 100%;

}

.nav > li{

font-size:14px;
}



/*sub report*/

.page-side {
margin: 0 0 0 225px !important;
padding:0 !important;	
}
.page-breadcrumbs{
background:#fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    
    min-height: 40px;
    padding: 5px;
    position: relative;
    z-index: 1;
	overflow:hidden;

}

.less-margin{
	margin:0px;
	
}
.less-padding{
	padding:0px;
}

/*close of sub report*/


@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
         margin: 0 0 0 221px;
    padding: 0 15px;
        border-left: 1px solid #e7e7e7;
    }
}

 

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

 
 

.nav-tabs> li a:hover{
background-color:#EEEEEE;

}
.navbar-top-links> li > a:focus, .navbar-top-links> li > a:hover{
background-color:#4F659F;

}


.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
background-color:#4F659F;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

 

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}
 
 
 

 

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #495b79!important;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

/*siedebar on hover style*/

.sidebar ul li a{
	color:#000;
}

.sidebar ul li {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.sidebar ul li a.active {
    background-color: #4F5B69;
	border-left:3px solid #D19B3D;
	color:#fff;
}

.sidebar .nav > li > a:focus, .sidebar .nav > li > a:hover{
    background-color: #ccc;
}



.sidebar .nav > li > a:hover{
    background-color: #495b79;
	color:#fff;	
	transition: all 1s ease 0s;

}
.sidebar .nav > li > a{
	border-left:5px solid #ffa4a4;
}

.sidebar .nav > li > a:hover{
	border-left:3px solid #D19B3D;
}
.nav-second-level {
    background-color: #fbfbfb;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15) inset, 0 -4px 4px -2px rgba(0, 0, 0, 0.15) inset;
}
.nav-second-level > li > a::before {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    content: "";
    display: inline-block;
    height: 5px;
    left: 21px;
    position: absolute;
    top: 17px;
    width: 5px;
    z-index: 2;
}
.sidebar-menu > li > .nav-second-level::before {
    border-left: 1px solid #e2e2e2;
    bottom: 19px;
    content: "";
    display: block;
    left: 23px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.nav-second-level > li > a {
    padding-left: 40px;
}
sidebar-menu a {
    color: #737373;
    display: block;
    font-size: 13px;
    height: 38px;
    line-height: 36px;
    margin: 0;
    padding: 0 16px 0 7px;
    text-decoration: none;
    text-shadow: none !important;
    z-index: 123;
}
/*siedebar on hover style close*/



@media(min-width:768px) {
    .sidebar {
         z-index: 1;
        position: absolute;
        width: 225px;
        margin-top: 55px;
	min-height:2000px;
	border-radius:0px;
border-right:thin solid #000079;
background:#fff !important;
    }
/*
.sidebar{
		background-image:linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
	}
*/
     

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}