/*CSS Documnet */
body{
color:#333;

margin: 0;
padding: 0;
height:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,f9f9f9+100&1+0,0.55+51,1+100 background: #F0F0F0; */
background: #FFF;
}
  
/* NAvigation menu */
.tvs-line{
  background-image: url('../images/TVS_Header_Line.png');
padding: 5px;
background-repeat: no-repeat;
background-size: contain;
}
.nav-link{
    color: #a49595;
    min-width: 117px !important;
    text-align:center;
  }

.nav-border .nav-link{
          border-top-color: rgb(0, 0, 0) !important;
border-right-color:rgb(0, 0, 0) !important;
border-bottom-color:rgb(0, 0, 0) !important;
border-left-color:rgb(0, 0, 0) !important;
}
.nav-border .nav-link.active{
    color:#000;
font-weight: bold;
    border-top-color: rgb(0, 0, 0);
border-right-color:rgb(0, 0, 0);
border-bottom-color:rgb(255, 255, 255) !important;
border-left-color:rgb(0, 0, 0);
}
.nav-border li{
  display: inline !important;

}

.nav-border{
  border-bottom: 1px solid #000;
}
.approve .active{
   border-bottom: solid thin;
   border-top:none;
}

/* Preloader with Bootstrap Progress Bar
-----------------------------------------------*/
.loading::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(200, 200, 200, 0.1);
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: 50% 50% no-repeat rgba(255, 255, 255, 0.6);
}
.preloader-container {
    
    position: absolute;
    top:0px;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.progress-small{
    height:5px !important;
}
.progress{
   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.postal-code .list-group-item:hover{
    background:#f9f9f9;
}
.wrap-login25 {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

}
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}
.login100-form-title {
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;

}
.financialblock {

/* min-height: 300px; /*sets height of element*/
  line-height: 50px; /*for this, it sets vertical alignment*/
  text-align: center;
  overflow: hidden;
    position: relative;
    height: 98%;

    max-height: 375px;
}
.financialblock div{
  vertical-align: middle;
    top: 30%;
    width: 100%;
    left:0;
    margin: 0;
  position: absolute;
  font-size: 12px;
  font-weight:bold;
}
.financialblock .dropdown .dropdown-toggle::after{
  display: none;
}
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 35px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.vl {
  border-left: 6px solid blackl;
  height: 500px;
}
.redbox{
  background: #ED1C24;
  color: #fff !important;
}
.redtext{
 
  color: #ED1C24 !important;
}

.greenbox{
  background:#61BB46;
}
.orangebox{
  background: #FDB813;
}
.bluebox{
  background: #283895 !important;
  color: #fff !important;
}
.bluetext{
  color: #283895;
}

.blueborder{
  border-color: #12239E !important;
}
.greybox{
  background:#A7A9AB;
}
.warmgreybox{
   background:#D1D2D4;
}
.lightgreytext{
  color:#D1D2D4;
}


.tab-content .highlightbox{
  border:solid 2px #000 !important;
  padding: 1.4rem !important;
}
.main_grid .nav-link .box {
  font-weight: bold !important;
    border-bottom: 0px solid transparent !important;
    border-top: none !important;
    height: 60px;
    width: 125px;
    overflow: hidden;
}
.uploadtab .nav-item .active,.uploadtab .nav-item .nav-link:hover,.nobordertab .nav-item .nav-link:hover,.nobordertab .nav-item .active{
  border-top:0px;
   border-left: 0px;
   border-bottom: 2px solid !important;
   border-right: 0px;
   font-weight: bold;
}
.nobordertab .nav-item .nav-link:hover, .uploadtab .nav-item .nav-link:hover { font-weight: bold !important;}  
.nobordertab .nav-item .nav-link:hover, .uploadtab .nav-item .nav-link .active:hover { font-weight: bold !important; }  
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.status .box,.adstatus .box{
  min-height: 60px;
}
.adstatus .col-lg-2,.adstatus .col-md-2,.adstatus .col-sm-2{
  max-width: 125px;
  font-size: 12px;
  min-width: 125px
}
.adstatus .col-lg-2 h5,.adstatus .col-md-2 h5,.adstatus .col-sm-2 h5{
  font-size: 12px;
 
}

.multi-color-rg {
    background:#ED1C24; /* Old browsers */
    width:150px;
    height: 60px;
    position: relative;
}
.multi-color-rg h5{
  position: relative;
z-index: 99;
text-align: center;

}
.multi-color-rg:after{
content: '';
position: absolute;
width: 100%;
left: 0;
bottom: 0;
height: 60%;
background:#61BB46;
}
.btn-default {
    color: #333;
    background-color: #fff;
border-color:    #ccc;
}
.financialblock select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.btn:disabled, .btn.disabled{
  cursor: not-allowed; 
}
.dropdown-item:hover{
  background:#fff;
}
#navbarSupportedContent .dropdown-menu {
  padding: 0px !important;
}
#navbarSupportedContent .dropdown-menu .dropdown-item{
  padding: 5px !important;
  text-align: center;
} 
#navbarSupportedContent .dropdown-menu a{
    color: #283895 !important;
}
.is-invalid{
  border:solid thin #ff0000 !important;
}
.bluegradient{
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(40,56,149,1) 0%, rgba(0,212,255,1) 100%);
}
.table-bordered td, .table-bordered th,.table-bordered td, .table-bordered th,.table thead th,.table-bordered {
 border: 1px solid #283895;
}
.table-bordered thead td, .table-bordered thead th{
  border-bottom-width: 1px;
}
#adminup #area{

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#adminup #area::-ms-expand {
    display: none;
}
.ui.table{
  border-collapse: collapse;
  border-radius: 0;
}
.ui.table thead tr:first-child>th:last-child{
  border-radius: 0;
}
.vuetable thead{
  background: #283895 !important;
  color: #fff !important;
}

.multiselect-native-select .btn-group, .multiselect-native-select .btn-group .multiselect{
	width: 100%;
  text-align: left;
}
.multiselect{
	min-height: 25px !important;
	border-radius: 0px !important;
}
 .multiselect-container.dropdown-menu.show{
    overflow-y: scroll;
    width: 100%;
    height: 200px;
}
.multiselect-container>li>a>label{
	padding-left: 10px !important;
}
.multiselect-container > li > a > label{
  height: auto !important;
}
.multiselect-native-select .dropdown-toggle::after{
float: right;

margin-top: 10px;
}
.multiselect-container a, .multiselect-container a:hover{
  color:#000 !important;
}
.btn:focus{
  box-shadow:none !important;
}
 .multiselect-clear-filter{
  display: none;
 }