/*custom css*/



body{
	font-family:Arial, sans-serif !important;
	background-color:#EEEEEE !important;
	color:#333;
	font-size:13px;
margin: 0;
	padding: 0;
height:100%;
}

.navbar-default{
	/*box-shadow:-9px -10px 16px 8px rgba(14, 11, 10, 0.45) !important;*/
	position:fixed;
	width:100%;
}

.nav-tabs > li > a{
	border-radius:0px;
}

.form-control{
	border-radius:0px;
	}
	
.form-control:focus{
	border-color:#ccc;
	box-shadow:none;
}

.btn{
	border-radius:0px;
}


.navbar-brand{
  margin-right: 27px;
    padding: 2px;
float: right;

}
.navbar-inverse .navbar-brand{

color:#fff;
}

.big{
color: #b1b1b1;
    float: left;
    font-weight: 700;

}
.small{
color: #ababab;
    float: left;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 2px;;

}
#page-wrapper{
	background-color:#ccc;
}

.tab-content{
	background:#fff;
	border:1px solid #DDDDDD;
	border-top:none;
	box-shadow:1px 0 10px 1px rgba(0, 0, 0, 0.3);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
background:none !important;
border:none !important;
color:none !important;


}
.nav-tabs {
    background-color: #eee;
    border: 0 none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
    margin-left: 0;
    top: 2px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
border-top:2px solid #38C3E6;
}



.page-header{
    background-color: #fff;
    padding: 10px;
    font-size:16px;
margin: 0 0 12px;
	
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #eee;
    
    padding-bottom: 9px;

}

.fa{
	margin-right:7px;
}
.fa-map-marker {
	color:#F00;
}
.fa-cogs {
	color:#F00;
}

.fa-user{
	color:#FFF;
}
a:focus{
	outline:none;
}
	
	

/*dash board*/



.subscriber{
	
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	padding:0px;
}

.color{
background-color:#fff;
 border-bottom: 3px solid #2DC3E8;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.color1{
 border-bottom: 3px solid #2DC3E8;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
background-color: #fff;

}

.subscriber i{
color: #2DC3E8;
    font-size: 29px;
    position: absolute;
    text-align: center;
    top: 5px;}
	
.center{
 color:#2DC3E8;}

.subscriber1{
	border:1px solid #ccc;
	background-color:#fff;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	padding:0px;
}
.no-subscriber{
	overflow:hidden;
	padding:10px;
	color:#999;
}
.no-padding-right{
	text-align:center;
	padding:0;
	color:#999;
}

.no-padding h3{
	font-size:20px;}
.no-padding{
	text-align:center;
	border-right:1px solid #e5e5e5 ;
	padding:0;
}


.bg-color-in h6{
font-size:13px;

}
.request-sms{
color: #fb6e52 !important;
    font-size: 11px !important;
    left: 65px !important;
    position: relative !important;
    top: 17px !important;


}
.themesecondary{	

   border-bottom: 3px solid #FFCE55;
    
    display: inline-block;
    font-size: 17px;
    height: 43px;
    padding: 2px 5px;
    position: absolute;
    right: 16px;
    top: 1px;
    width: 95px;
}

.themesecondary:hover{	

box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.themesecondary h4{	

   color: #fb6e52;
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    top: 0px;
    left: 18px;
    
}
.themesecondary a{	
	color:#FFCE55;
}


.ex-sm{
	font-size:10px;
}
.size-text{
	font-size:18px !important;

}
.bg-color-in{

 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
border-bottom: 1px solid #FB6E52;
 height: 34px;
}

.bg-color-in1{

 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
border-bottom: 1px solid #495B79;
}

.bg-color-in2{

 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
border-bottom: 1px solid #FB6E52;
}


/*2nd row*/

.complimentary{
background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	background-image:linear-gradient(to right, #ddd, #fff);
    overflow: hidden;	
 height: 65px;

}

.asociation{
	overflow:hidden;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
	background-color:#fff;
	background-image:linear-gradient(to right, #ddd, #fff);
 height: 65px;

}

.print_lable{
	overflow:hidden;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
	background-color:#fff;
	background-image:linear-gradient(to right, #ddd, #fff);
}

.shift1{
background-color: #FB6E52;
    float: left;
    width: 26%;}
	
.shift2{
	float:left;
	width:70%;
}
.name{
	float:left;
	width:70%;
}
.name h6{
 color: #e46f61;
    font-size: 19px;
}

.name i{
	position:absolute;
	margin-right: 23px;
    position: absolute;
    right: 10px !important;
    top: 9px;
	font-size:16px;
	color:#e46f61;

}


.name{
 color: #384b43;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 0px;}

.shift1 h3{
	
color: #fff;
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding-bottom: 18px;
    padding-left: 14px;
    padding-top: 14px;
}
	
.shift2 h6{
	
 color: #898989;
    font-size: 12px;
    margin: 0;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-top: 0;}


/*sms */


.bg-white{
	overflow:hidden;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
 background-color: #fff !important;	}

.left-shift{
background-color: #fff;
    float: left;
    width: 26%;
	border-right:3px solid #2DC3E8;}

.left-shift h3{
	
color: #fff;
    font-size: 46px;
    margin: 0;
    padding-bottom: 28px;
    padding-left: 39px;
    padding-top: 33px;
	box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	
	
}
.left-shift i{
	color:#FB6E52;
}
.name1{
bottom: 20px;
    color: #384b43;
    left: 11px;
    margin: 0;
    padding-top: 0;
    position: relative;
    top:27px;}	
	
	
.name1 i{
	position:absolute;
	margin-right: 23px;
    position: absolute;
    right: -7px !important;
    top:-31px;
	font-size:16px;
	color:#fb6e52;
}

.icon{
color: #ccc;
    font-size: 17px;
    left: 8px;
    overflow: hidden;
    position: relative;
    top: 18px;
	
}
.name1{
	float:left;
	width:70%;
}

.name1-content{
	float:left;
	width:70%;
}


.name1-content h6{
 color: #474747;
    margin: 0;
    bottom: 5px;
    left: 5px;
    top: 15px;
	font-size:14px;
	position:relative;}


.bg-white{
	overflow:hidden;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
 background-color: #fff !important;
 height:85px;	}

.left-shift{
background-color: #fff;
    float: left;
    width: 26%;
	border-right:3px solid #2DC3E8;}

.left-shift h3{
	
color: #fff;
    font-size: 46px;
    margin: 0;
    padding-bottom: 15px;
    padding-left: 39px;
    padding-top: 19px;
	box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	
	
}
.left-shift i{
	color:#FB6E52;
}
.name1{
bottom: 20px;
    color: #8b8b8b;
    left: 6px;
    margin: 0;
    padding-top: 0;
    position: relative;
    top:29px;}	
	
	
.name1 i{
	position:absolute;
	margin-right: 23px;
    position: absolute;
    right: -63px !important;
    top:-31px;
	font-size:16px;
	color:#fb6e52;
}

.no-padding a{

color:#7c7c7c;
}
a .no-padding{

color:#7c7c7c;
}

a .no-padding-right {
color:#7c7c7c;
}

.no-padding-right a{
color:#7c7c7c;
}

/*hover*/

.no-padding a:hover{

color:#000;

}
a .no-padding:hover{

color:#000;
 }

a .no-padding-right:hover {
color:#000;
 
}

.no-padding-right a:hover{
color:#000;

}

.icon{
color: #ccc;
    font-size: 17px;
    left: 8px;
    overflow: hidden;
    position: relative;
    top: 18px;
	
}
.name1{
	float:left;
	width:70%;
}

.name1-content{
	float:left;
	width:70%;
}



.task-view{
background-color: #fff; border-top: 1px solid #ddd; padding: 5px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);	
}
.task-content-icon{
text-align: right;
}
.task-content-icon a{

color:#bfbfbf;}

.task-content-icon a:hover{

color:#979797;
text-decoration:none;}

.task-content-icon a i:hover{

color:#4D9BBE;
}

/*refresh icon*/

/*refresh icon*/

.btn-default{
background-color: #357EBD;

}

.btn-default:hover{
background-color: #000;

}

.header-buttons{
 border-bottom: 3px solid #ffce55;
    bottom: 2px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;    }	


.header-buttons a{
color: #ccc;
    display: inline-block;
    float: right;
    height:39px;
    padding: 4px 10px;
    position: relative;
    transition: all 0.218s ease 0s;
    vertical-align: middle;
    
}

.header-buttons a:hover{
	box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
	color:#FFCE55;
	
}


.sidebar-toggler i{
font-size: 17px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    margin: 0;}


.radio_btn{ text-align:center;}
.radio_btn input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.radio_btn label{
   cursor: pointer;
    display: block;
    font-size:13px;
    font-weight: 300;
    margin: 12px auto;
    padding: 0;
    position: relative;
    z-index: 9;
	text-transform: capitalize;
}

.radio_btn:hover label{
	color: #444;
}

.radio_btn .check{
  border: 3px solid #aaaaaa;
    border-radius: 100%;
    display: block;
    height: 20px;
    left:4px;
    position: absolute;
    top: 11px;
    transition: border 0.25s linear 0s;
    width: 20px;
    z-index: 5;
}



.radio_btn .check::before {
  border-radius: 97%;
    content: "";
    display: block;
    height: 8px;
    left: 4px;
    margin: auto;
    position: absolute;
    top: 4px;
    transition: background 0.25s linear 0s;
    width: 8px;
}

.radio_btn input[type=radio]:checked ~ .check {
  border:2px solid #444;
}

.radio_btn input[type=radio]:checked ~ .check::before{
  background:#444;
}


/*Task*/
.widget-header.bordered-bottom {
    border-bottom: 3px solid #fff;
}
.widget-header {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: #555;
    min-height: 35px;
    padding-left: 12px;
    position: relative;
    text-align: right;	
     border-color: #2dc3e8 !important;
}
.widget-header .widget-icon {
    display: block;
    float: left;
    font-size: 111%;
    height: 36px;
    line-height: 32px;
    margin-left: -10px;
    position: relative;
    text-align: center;
    width: 30px;	
}
.themeprimary{
 color: #2dc3e8 !important;
	
}
.widget-header > .widget-caption {
    float: left;
    font-size: 16px;
    font-weight: 400 !important;
    line-height: 34px;
    margin: 0;
    padding: 0;
    text-align: left;	
}
.ticket-state{
background-clip: padding-box;
    background-color: #e5e5e5;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: 24px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: 13px;
    width: 24px;
}
.bg-palegreen{
background-color:#a0d468 !important;
}

.ticket-state i{
color: #fff;
    left: 4px;
    overflow: hidden;
    position: absolute;
    top: 4px;
}
.task_name{
      color:#b9b9b9;
    float: right;
    left: 9px;
    position: relative;

}
.task-container{
padding: 0;
    position: relative;	
}
.task-container .tasks-list{
	list-style: outside none none;
    padding: 0;}
	
	ol, ul{
		margin-bottom: 10px;
    margin-top: 0;}
	
.task-container .tasks-list .task-item{
	
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    height: 58px;
    margin: 7px;
    position: relative;
 box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.task-container .tasks-list{
	list-style:outside none none;
}

.task-container .tasks-list .task-item .task-state{
	    left: 8px;
    position: absolute;
    top: 19px;
}
.task-container .tasks-list .task-item .task-state .label{
	letter-spacing: 1px;
    padding: 6px;
	color:#FDA359;
}
.label-yellow, .badge-yellow{
    background-image: none !important;}
	
	
.label{
		background-clip: padding-box !important;
    border-radius: 2px !important;
    font-size: 12px;
    padding: 4px 6px;
	color:#000;}
	
.label, .badge{
	display: inline-block;
    font-weight: 300;
    text-shadow: none !important;
}
.task-container .tasks-list .task-item .task-time{
	color: #b5b5b5;
    font-size: 11px;
    position: absolute;
   right: 2px;
    top: 0px;
border-left: 1px solid #ddd;
 height: 59px;
padding:18px;
}

.task-container .tasks-list .task-item .task-body {
    height: 56px;
    left: 14px;
    line-height: 22px;
    overflow: hidden;
    padding-right: 25px;
    position: absolute;
    top:0px;
    padding-top: 17px;
    color: #787878;
    
}

.task-body{
overflow:hidden;

}
.task-container .tasks-list .task-item .task-creator{
	left: 15px;
    position: absolute;
    top: 115px;
	color: #FDA359;}
	
.task-container .tasks-list .task-item .task-assignedto {
    color: #999;
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 115px;
}	
.task-assignedto i{
	margin:0;
}

.task-assignedto a{
	color:#9b9b9b;
}

/*end of Task*/



.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{


line-height: 21px;}

#side_alert{

bottom: 10px;
    position: fixed;
    right: 20px;
}
.alert-success{

    background-color: #5db2ff;
    border-color: #5db2ff;
    color: #fff;
}

.alert{

    border-radius:0px;
    margin-bottom:0px;
    border-top: 3px solid #ff0000;

}
	
/*custom css close*/

.widget-caption .fa{
color:#FF0000;


}



.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}


.widget {
    box-shadow: none;
    margin: 0 0 30px;
    padding: 0;
}
.widget.radius-bordered .widget-header {
    background-clip: padding-box;
    border-radius: 0px 0px 0 0;
}
.widget-header {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    color: #555;
    min-height: 40px;
    padding-left: 12px;
    position: relative;
    text-align: right;
}
.widget.radius-bordered .widget-body {
    background-clip: padding-box;
    border-radius: 0 0 0px 0px;
}


.task-view-content{
background-color: #fff; padding: 5px;	
}
.task-content-icon-content{

 margin-top: 5px;
}
.task-content-icon-content i{
color:#FF0000;
}

.task-view-Developed{
text-align: left;
 margin-top: 5px;
}
.task-view-Developed i{
color:#FF0000;
}
.widget-body {
    background-color: #F4F4F4;
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
    padding: 12px;
    overflow:hidden;  
     padding: 10px;
}

*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

.widget-scroll{

height:276px !important;
	
}
.name1 h6{


font-size: 23px;
    font-weight: 400
}


.widget-buttons.buttons-bordered {
    border-left: 1px solid #e5e5e5;
}
.widget-buttons {
    display: inline-block;
    height: 40px;
    line-height: 34px;
    padding: 0 5px;
    position: relative;
    text-align: left;
}
/*
.btn, .btn-default, .btn:focus, .btn-default:focus {
    background-color: #6F85BF;
    border-color: #ccc;
    color: #fff !important;
}
.btn, .btn-default, .btn:focus, .btn-default:focus {
    background-color: #6F85BF;
    border-color: #ccc;
    color: #444;
}*/

.btn-azure{
 background-color: #2dc3e8 !important;
    border-color: #2dc3e8;
    color: #fff;

}


btn-azure:hover{

background-color: #2dc3e8 !important;
    border-color: #2dc3e8;
    color: #fff
}

.btn-yellow{
background-color: #ffce55 !important;
    border-color: #ffce55;
    color: #fff;
}
.btn-yellow:hover{
background-color: #ffce55 !important;
    border-color: #ffce55;
    color: #fff;
}

.btn-default:hover{

   background-color: #529bda!important;
    border-color: #ccc;
    color: #fff;
}
.btn-sm {
    font-size: 12px;
    line-height: 1.39;
    padding: 4px 9px;
}
.btn {
    background-clip: padding-box;
    
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    position: relative;
    transition: all 0.15s ease 0s;
    vertical-align: middle;
}


@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}


.ui-widget-content{

	background:#fff !important;
height:300px;
overflow:auto;
}


ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all{


}
